<!DOCTYPE html>
<html>
<head>
	<title><%=artist.name%></title>
</head>
<body>
	<header>
		<h1>Artist Show Page</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/artists">Artists Index</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<ul>
			<li>Name: <%=artist.name%></li>
			<li>Genre: <%=artist.genre%></li>
		</ul>
		<img src="<%=artist.img%>">
	</main>

</body>
</html>